In [2]:
import pandas
import h2o

In [5]:
h2o.connect()

Connecting to H2O server at http://localhost:54321 ... successful.

--------------------------  ----------------------------------------------------------------------------
H2O_cluster_uptime:         1 hour 41 mins
H2O_cluster_timezone:       America/Los_Angeles
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.2
H2O_cluster_version_age:    16 days
H2O_cluster_name:           H2O_from_python_avkash_8eyink
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    7.999 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, Infogram, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ----------------------------------------------------------------------------

In [6]:
h2o.ls()

                                                  key
0                 GBM_model_python_1644623179919_1140
1                 GLM_model_python_1644623179919_1137
2            gbm-c732219d-39da-4a45-bc6d-ee1e8293ab46
3                                       loan_test.hex
4                                      loan_train.hex
5                                     loan_train1.hex
6   modelmetrics_GBM_model_python_1644623179919_11...
7   modelmetrics_GBM_model_python_1644623179919_11...
8   modelmetrics_GLM_model_python_1644623179919_11...
9   modelmetrics_GLM_model_python_1644623179919_11...
10  modelmetrics_gbm-c732219d-39da-4a45-bc6d-ee1e8...
11           pdp-1750626f-e852-4ae0-9c57-cfb1404bc245
12           pdp-b761dd6b-7e38-4cfe-a6e0-289a5da14588
13    prediction-427224b8-ca68-4ca3-a799-fdcd62aa62f3
14                                      py_1_sid_bc1a
15                                      py_3_sid_bc1a
16                                      py_4_sid_842d
17                                      py_5_sid_842d
18                                      py_6_sid_bc1a
19                                      py_7_sid_bc1a
20                            zipwithliving_index.hex

In [10]:
loan_frame_h2o = h2o.get_frame('loan_train.hex')

In [11]:
loan_frame_h2o

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,3+,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [12]:
type(loan_frame_h2o)

h2o.frame.H2OFrame

In [13]:
df = loan_frame_h2o.as_data_frame()

In [14]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [15]:
type(df)

pandas.core.frame.DataFrame

In [17]:
h2o_frame_from_pandas = h2o.H2OFrame(df)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [20]:
h2o_frame_from_pandas

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [19]:
h2o.ls()

                                                  key
0                 GBM_model_python_1644623179919_1140
1                 GLM_model_python_1644623179919_1137
2   Key_Frame__upload_aa5fc0b6be9a488eea6d530935c1...
3            gbm-c732219d-39da-4a45-bc6d-ee1e8293ab46
4                                       loan_test.hex
5                                      loan_train.hex
6                                     loan_train1.hex
7   modelmetrics_GBM_model_python_1644623179919_11...
8   modelmetrics_GBM_model_python_1644623179919_11...
9   modelmetrics_GLM_model_python_1644623179919_11...
10  modelmetrics_GLM_model_python_1644623179919_11...
11  modelmetrics_gbm-c732219d-39da-4a45-bc6d-ee1e8...
12           pdp-1750626f-e852-4ae0-9c57-cfb1404bc245
13           pdp-b761dd6b-7e38-4cfe-a6e0-289a5da14588
14    prediction-427224b8-ca68-4ca3-a799-fdcd62aa62f3
15                                      py_1_sid_bc1a
16                                      py_3_sid_bc1a
17                                      py_4_sid_842d
18                                      py_5_sid_842d
19                                      py_6_sid_bc1a
20                                      py_7_sid_bc1a
21                            zipwithliving_index.hex

In [25]:
h2o_frame_from_pandas_x = h2o.H2OFrame(df)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [22]:
h2o.ls()

                                                  key
0                 GBM_model_python_1644623179919_1140
1                 GLM_model_python_1644623179919_1137
2   Key_Frame__upload_93767230c8074858fd29abea9a00...
3   Key_Frame__upload_aa5fc0b6be9a488eea6d530935c1...
4            gbm-c732219d-39da-4a45-bc6d-ee1e8293ab46
5                                       loan_test.hex
6                                      loan_train.hex
7                                     loan_train1.hex
8   modelmetrics_GBM_model_python_1644623179919_11...
9   modelmetrics_GBM_model_python_1644623179919_11...
10  modelmetrics_GLM_model_python_1644623179919_11...
11  modelmetrics_GLM_model_python_1644623179919_11...
12  modelmetrics_gbm-c732219d-39da-4a45-bc6d-ee1e8...
13           pdp-1750626f-e852-4ae0-9c57-cfb1404bc245
14           pdp-b761dd6b-7e38-4cfe-a6e0-289a5da14588
15    prediction-427224b8-ca68-4ca3-a799-fdcd62aa62f3
16                                      py_1_sid_bc1a
17                                      py_3_sid_bc1a
18                                      py_4_sid_842d
19                                      py_5_sid_842d
20                                      py_6_sid_bc1a
21                                      py_7_sid_bc1a
22                            zipwithliving_index.hex

In [26]:
type(h2o_frame_from_pandas_x)

h2o.frame.H2OFrame

In [33]:
h2o_frame_from_pandas_x.tail()

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP002959,Female,Yes,1,Graduate,No,12000,0,496,360,1,Semiurban,Y
LP002960,Male,Yes,0,Not Graduate,No,2400,3800,nan,180,1,Urban,N
LP002961,Male,Yes,1,Graduate,No,3400,2500,173,360,1,Semiurban,Y
LP002964,Male,Yes,2,Not Graduate,No,3987,1411,157,360,1,Rural,Y
LP002974,Male,Yes,0,Graduate,No,3232,1950,108,360,1,Rural,Y
LP002978,Female,No,0,Graduate,No,2900,0,71,360,1,Rural,Y
LP002979,Male,Yes,nan,Graduate,No,4106,0,40,180,1,Rural,Y
LP002983,Male,Yes,1,Graduate,No,8072,240,253,360,1,Urban,Y
LP002984,Male,Yes,2,Graduate,No,7583,0,187,360,1,Urban,Y
LP002990,Female,No,0,Graduate,Yes,4583,0,133,360,0,Semiurban,N

In [36]:
df.hist

<bound method hist_frame of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>