In [2]:
import pandas as pd
import numpy as np

In [1]:
# Only added to display images for explaining the concept
from IPython.display import Image, display
display(Image(url='https://github.com/prodramp/publiccode/blob/master/images/transform-example.png?raw=true', width=800, unconfined=True))
print("Image source: https://pbpython.com/pandas_transform.html")

Image source: https://pbpython.com/pandas_transform.html

### Source Dataset:
- https://www.kaggle.com/aungpyaeap/supermarket-sales

In [3]:
remote_url = "https://raw.githubusercontent.com/prodramp/publiccode/master/datasets/supermarket_sales.csv"

In [4]:
df = pd.read_csv(remote_url)

In [5]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [6]:
def change_income_times_5(x):
    return x*5

In [9]:
df['gross income'].transform(change_income_times_5)

0      130.7075
1       19.1000
2       81.0775
3      116.4400
4      151.0425
         ...
995     10.0875
996    243.4500
997      7.9600
998     16.4550
999    154.5950
Name: gross income, Length: 1000, dtype: float64

In [10]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [11]:
df.transform(change_income_times_5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428750-67-8428750-67-8428750-67-842875...,AAAAA,YangonYangonYangonYangonYangon,MemberMemberMemberMemberMember,FemaleFemaleFemaleFemaleFemale,Health and beautyHealth and beautyHealth and b...,373.45,35,130.7075,2744.8575,1/5/20191/5/20191/5/20191/5/20191/5/2019,13:0813:0813:0813:0813:08,EwalletEwalletEwalletEwalletEwallet,2614.15,23.809524,130.7075,45.5
1,226-31-3081226-31-3081226-31-3081226-31-308122...,CCCCC,NaypyitawNaypyitawNaypyitawNaypyitawNaypyitaw,NormalNormalNormalNormalNormal,FemaleFemaleFemaleFemaleFemale,Electronic accessoriesElectronic accessoriesEl...,76.40,25,19.1000,401.1000,3/8/20193/8/20193/8/20193/8/20193/8/2019,10:2910:2910:2910:2910:29,CashCashCashCashCash,382.00,23.809524,19.1000,48.0
2,631-41-3108631-41-3108631-41-3108631-41-310863...,AAAAA,YangonYangonYangonYangonYangon,NormalNormalNormalNormalNormal,MaleMaleMaleMaleMale,Home and lifestyleHome and lifestyleHome and l...,231.65,35,81.0775,1702.6275,3/3/20193/3/20193/3/20193/3/20193/3/2019,13:2313:2313:2313:2313:23,Credit cardCredit cardCredit cardCredit cardCr...,1621.55,23.809524,81.0775,37.0
3,123-19-1176123-19-1176123-19-1176123-19-117612...,AAAAA,YangonYangonYangonYangonYangon,MemberMemberMemberMemberMember,MaleMaleMaleMaleMale,Health and beautyHealth and beautyHealth and b...,291.10,40,116.4400,2445.2400,1/27/20191/27/20191/27/20191/27/20191/27/2019,20:3320:3320:3320:3320:33,EwalletEwalletEwalletEwalletEwallet,2328.80,23.809524,116.4400,42.0
4,373-73-7910373-73-7910373-73-7910373-73-791037...,AAAAA,YangonYangonYangonYangonYangon,NormalNormalNormalNormalNormal,MaleMaleMaleMaleMale,Sports and travelSports and travelSports and t...,431.55,35,151.0425,3171.8925,2/8/20192/8/20192/8/20192/8/20192/8/2019,10:3710:3710:3710:3710:37,EwalletEwalletEwalletEwalletEwallet,3020.85,23.809524,151.0425,26.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758233-67-5758233-67-5758233-67-575823...,CCCCC,NaypyitawNaypyitawNaypyitawNaypyitawNaypyitaw,NormalNormalNormalNormalNormal,MaleMaleMaleMaleMale,Health and beautyHealth and beautyHealth and b...,201.75,5,10.0875,211.8375,1/29/20191/29/20191/29/20191/29/20191/29/2019,13:4613:4613:4613:4613:46,EwalletEwalletEwalletEwalletEwallet,201.75,23.809524,10.0875,31.0
996,303-96-2227303-96-2227303-96-2227303-96-222730...,BBBBB,MandalayMandalayMandalayMandalayMandalay,NormalNormalNormalNormalNormal,FemaleFemaleFemaleFemaleFemale,Home and lifestyleHome and lifestyleHome and l...,486.90,50,243.4500,5112.4500,3/2/20193/2/20193/2/20193/2/20193/2/2019,17:1617:1617:1617:1617:16,EwalletEwalletEwalletEwalletEwallet,4869.00,23.809524,243.4500,22.0
997,727-02-1313727-02-1313727-02-1313727-02-131372...,AAAAA,YangonYangonYangonYangonYangon,MemberMemberMemberMemberMember,MaleMaleMaleMaleMale,Food and beveragesFood and beveragesFood and b...,159.20,5,7.9600,167.1600,2/9/20192/9/20192/9/20192/9/20192/9/2019,13:2213:2213:2213:2213:22,CashCashCashCashCash,159.20,23.809524,7.9600,38.5
998,347-56-2442347-56-2442347-56-2442347-56-244234...,AAAAA,YangonYangonYangonYangonYangon,NormalNormalNormalNormalNormal,MaleMaleMaleMaleMale,Home and lifestyleHome and lifestyleHome and l...,329.10,5,16.4550,345.5550,2/22/20192/22/20192/22/20192/22/20192/22/2019,15:3315:3315:3315:3315:33,CashCashCashCashCash,329.10,23.809524,16.4550,20.5
999,849-09-3807849-09-3807849-09-3807849-09-380784...,AAAAA,YangonYangonYangonYangonYangon,MemberMemberMemberMemberMember,FemaleFemaleFemaleFemaleFemale,Fashion accessoriesFashion accessoriesFashion ...,441.70,35,154.5950,3246.4950,2/18/20192/18/20192/18/20192/18/20192/18/2019,13:2813:2813:2813:2813:28,CashCashCashCashCash,3091.90,23.809524,154.5950,33.0

In [12]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [18]:
# You will get error
#df.transform('sqrt')

In [13]:
df['Total'].transform('sqrt')

0      23.430141
1       8.956562
2      18.453333
3      22.114430
4      25.186872
         ...
995     6.509032
996    31.976398
997     5.782041
998     8.313303
999    25.481346
Name: Total, Length: 1000, dtype: float64

In [19]:
# Will generate the error also with - sum,min,max,mean,median
# df['Total'].transform('max')

In [15]:
df['Total'].transform('square')

0      3.013697e+05
1      6.435248e+03
2      1.159576e+05
3      2.391679e+05
4      4.024361e+05
           ...
995    1.795005e+03
996    1.045486e+06
997    1.117699e+03
998    4.776330e+03
999    4.215892e+05
Name: Total, Length: 1000, dtype: float64

In [62]:
df.apply('sum')

Invoice ID                   750-67-8428226-31-3081631-41-3108123-19-117637...
Branch                       ACAAACACABBBAAABAAABCBBAAABABABBBACCAACBBCBCCB...
City                         YangonNaypyitawYangonYangonYangonNaypyitawYang...
Customer type                MemberNormalNormalMemberNormalNormalMemberNorm...
Gender                       FemaleFemaleMaleMaleMaleMaleFemaleFemaleFemale...
Product line                 Health and beautyElectronic accessoriesHome an...
Unit price                                                             55672.1
Quantity                                                                  5510
Tax 5%                                                                 15379.4
Total                                                                   322967
Date                         1/5/20193/8/20193/3/20191/27/20192/8/20193/25/...
Time                         13:0810:2913:2320:3310:3718:3014:3611:3817:151...
Payment                      EwalletCashCredit cardEwalletEwalletEwalletEwa...
cogs                                                                    307587
gross margin percentage                                                 4761.9
gross income                                                           15379.4
Rating                                                                  6972.7
payment_total_result                                               1.07885e+08
Total_percentage             0.50%0.07%0.34%0.44%0.58%0.57%0.39%0.70%0.08%0...
product_line_total_result                                          5.39188e+07
dtype: object

In [60]:
df['Total'].apply('sum')

322966.74899999995

In [58]:
df['Total'].apply('square')

0      3.013697e+05
1      6.435248e+03
2      1.159576e+05
3      2.391679e+05
4      4.024361e+05
           ...
995    1.795005e+03
996    1.045486e+06
997    1.117699e+03
998    4.776330e+03
999    4.215892e+05
Name: Total, Length: 1000, dtype: float64

In [ ]:
#function - square,sqrt - per row
#agg> sum,min,max,mean,median,

In [ ]:
df['Total'].transform('square')

In [20]:
df['Total'].transform([np.sqrt, np.exp])

          sqrt            exp
0    23.430141  2.601915e+238
1     8.956562   6.904041e+34
2    18.453333  7.732957e+147
3    22.114430  2.459505e+212
4    25.186872  3.214267e+275
..         ...            ...
995   6.509032   2.511721e+18
996  31.976398            inf
997   5.782041   3.306230e+14
998   8.313303   1.034013e+30
999  25.481346  9.704492e+281

[1000 rows x 2 columns]

In [21]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [22]:
df.groupby('Payment')['Total'].apply(sum)

Payment
Cash           112206.570
Credit card    100767.072
Ewallet        109993.107
Name: Total, dtype: float64

In [24]:
df.groupby('Payment')['Total'].transform(sum)

0      109993.107
1      112206.570
2      100767.072
3      109993.107
4      109993.107
          ...
995    109993.107
996    109993.107
997    112206.570
998    112206.570
999    112206.570
Name: Total, Length: 1000, dtype: float64

In [25]:
df.groupby('Payment')['Total'].apply(sum).rename('payment_total_result').reset_index()

       Payment  payment_total_result
0         Cash            112206.570
1  Credit card            100767.072
2      Ewallet            109993.107

In [26]:
df_payment_total_result = df.groupby('Payment')['Total'].apply(sum).rename('payment_total_result').reset_index()

In [27]:
type(df_payment_total_result)

pandas.core.frame.DataFrame

In [28]:
df.groupby('Payment')['Total'].sum().rename('payment_total_result').reset_index()

       Payment  payment_total_result
0         Cash            112206.570
1  Credit card            100767.072
2      Ewallet            109993.107

In [29]:
df.groupby('Payment')['Total'].median().rename('payment_total_result').reset_index()

       Payment  payment_total_result
0         Cash               262.962
1  Credit card               239.589
2      Ewallet               253.680

In [30]:
df.groupby('Payment')['Total'].min().rename('payment_total_result').reset_index()

       Payment  payment_total_result
0         Cash               10.6785
1  Credit card               12.6945
2      Ewallet               13.4190

In [31]:
df.groupby('Payment')['Total'].max().rename('payment_total_result').reset_index()

       Payment  payment_total_result
0         Cash               1003.59
1  Credit card               1042.65
2      Ewallet               1034.46

In [32]:
# Step 2: merge
df_total_result = df.groupby('Payment')['Total'].sum().rename('payment_total_result').reset_index()
df_total_result

       Payment  payment_total_result
0         Cash            112206.570
1  Credit card            100767.072
2      Ewallet            109993.107

In [33]:
df_updated = pd.merge(df, df_total_result, how='left')

In [34]:
df_updated

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,payment_total_result
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,109993.107
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,112206.570
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,100767.072
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,109993.107
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,109993.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,109993.107
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,109993.107
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,112206.570
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,112206.570
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,112206.570

In [35]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [36]:
# Step 1
df['payment_total_result'] = df.groupby('Payment')['Total'].transform(sum)

In [37]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,payment_total_result
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,109993.107
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,112206.570
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,100767.072
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,109993.107
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,109993.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,109993.107
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,109993.107
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,112206.570
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,112206.570
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,112206.570

In [38]:
df['Total_percentage'] = df['Total'] / df['payment_total_result']

In [39]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,payment_total_result,Total_percentage
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,109993.107,0.004991
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,112206.570,0.000715
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,100767.072,0.003379
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,109993.107,0.004446
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,109993.107,0.005767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,109993.107,0.000385
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,109993.107,0.009296
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,112206.570,0.000298
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,112206.570,0.000616
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,112206.570,0.005787

In [40]:
df['Total_percentage'] = df['Total_percentage'].apply(lambda x: format(x, '.2%'))
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,payment_total_result,Total_percentage
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,109993.107,0.50%
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,112206.570,0.07%
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,100767.072,0.34%
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,109993.107,0.44%
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,109993.107,0.58%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,109993.107,0.04%
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,109993.107,0.93%
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,112206.570,0.03%
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,112206.570,0.06%
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,112206.570,0.58%

In [ ]:
## Filtering Data

In [41]:
df.groupby('Product line').size()

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
dtype: int64

In [42]:
df.groupby('Product line')['Total'].transform('sum')

0      49193.7390
1      54337.5315
2      53861.9130
3      49193.7390
4      55122.8265
          ...
995    49193.7390
996    53861.9130
997    56144.8440
998    53861.9130
999    54305.8950
Name: Total, Length: 1000, dtype: float64

In [43]:
df.groupby('Customer type')['Total'].transform('sum')

0      164223.444
1      158743.305
2      158743.305
3      164223.444
4      158743.305
          ...
995    158743.305
996    158743.305
997    164223.444
998    158743.305
999    164223.444
Name: Total, Length: 1000, dtype: float64

In [46]:
df.groupby('Customer type')['Total'].sum()

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

In [47]:
df.groupby('Gender')['Total'].sum()

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

In [50]:
df.groupby('Gender')['Total'].transform('sum')

0      167882.925
1      167882.925
2      155083.824
3      155083.824
4      155083.824
          ...
995    155083.824
996    167882.925
997    155083.824
998    155083.824
999    167882.925
Name: Total, Length: 1000, dtype: float64

In [51]:
df['product_line_total_result'] = df.groupby('Product line')['Total'].transform('sum')

In [52]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,payment_total_result,Total_percentage,product_line_total_result
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,109993.107,0.50%,49193.7390
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,112206.570,0.07%,54337.5315
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,100767.072,0.34%,53861.9130
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,109993.107,0.44%,49193.7390
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,109993.107,0.58%,55122.8265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,109993.107,0.04%,49193.7390
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,109993.107,0.93%,53861.9130
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,112206.570,0.03%,56144.8440
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,112206.570,0.06%,53861.9130
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,112206.570,0.58%,54305.8950